@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-color: #f3f3f3;
}

.main {

}

.sidebar {

}

.show-sidebar-btn {
    cursor: pointer;
}

.content {
    background-color: var(--bg-color);
    overflow-y: scroll;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) inset;
}

.header {
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.status-card {
    border: none;
    transition: 0.3s;
}

.status-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.status-card:active {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.ov-img {
    margin-left: -25px;
}

.item-carousel {
    margin-top: -100px;
}

.item-card-img {
    height: 200px;
}

@media screen and (max-width: 480px) {
    .ov-img {
        width: 30px;
        height: 30px;
        margin-left: -16px;
    }

    .item-carousel {
        margin-top: -60px;
    }

    .item-card-img {
        height: 150px;
    }
}

@media screen and (max-width: 780px) {
    .sidebar {
        position: fixed;
        width: 300px;
        z-index: 2001;
        background-color: var(--light);
        margin-left: -100%;
        display: block !important;
    }

    .item-carousel-card {
        margin-top: 50px;
    }
}